<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background:#ec0044;"></span>
		<span class="sg-label">#ec0044</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#dc350e;"></span>
		<span class="sg-label">#dc350e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#e90066;"></span>
		<span class="sg-label">#e90066</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#82368c;"></span>
		<span class="sg-label">#82368c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#00857b;"></span>
		<span class="sg-label">#00857b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#00864e;"></span>
		<span class="sg-label">#00864e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#007bc3;"></span>
		<span class="sg-label">#007bc3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#767676;"></span>
		<span class="sg-label">#767676</span>
	</li>
	<li>
		<span class="sg-swatch" style="background:#000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>